{%- for def in settings -%}
{# #}
{# AttributeError: 'dict' object has no attribute '_name' #}
{#% set _ = def.__setattr__('_name', def.name) %#}
{# #}
{# jinja2.exceptions.TemplateRuntimeError: cannot assign attribute on non-namespace object #}
{#% set def._name = def.name %#}
{# #}
{# #}
{# The "set _ = def.update..." is a hack to add new attributes to an existing dictionary: #}
{# #}
{%- set _ = def.update({ '_snake_case_name': def.name | lower }) -%}
{%- set _ = def.update({ '_UPPERCASE_NAME': def.name | upper }) -%}
{%- set _ = def.update({ '_CamelCaseName': def.name
    | replace('_', ' ')
    | title
    | replace(' ', '')
}) -%}
{%- set _ = def.update({ '_ENUM_t': (def.name | upper) ~ "_t" }) -%}
{# #}
{%- set _ = def.update({ '_is_bool': def.type == "bool" or (def.type == "enum" and def.bits == 1) }) -%}
{%- set _ = def.update({ '_is_int': def.type == "int" }) -%}
{%- set _ = def.update({ '_is_float': def.type == "float" }) -%}
{%- set _ = def.update({ '_is_enum': def.type == "enum" }) -%}
{# #}
{%- set _ = def.update({ '_is_ha_binary_sensor': def.type == "bool" or (def.type == "enum" and def.bits == 1) }) -%}
{%- set _ = def.update({ '_is_ha_number': (def.type == "int" or def.type == "float") and def.mode == "rw" }) -%}
{%- set _ = def.update({ '_is_ha_select': def.type == "enum" and def.mode == "rw" }) -%}
{%- set _ = def.update({ '_is_ha_text_sensor': def.type == "enum" }) -%}
{%- set _ = def.update({ '_is_ha_sensor': def.type == "int" or def.type == "float" or def.type == "enum" }) -%}
{%- set _ = def.update({ '_is_ha_switch': def.type == "bool" and def.mode == "rw" }) -%}
{# #}
{%- set _ = def.update({ '_is_rw': def.mode == "rw" }) -%}
{# #}
{%- endfor -%}