esphome:
  name: test
  on_boot:
    priority: -100
    then:
      - select.set:
          id: adc_rate
          option: ADC_RATE_CONTINUOUS
      - select.set:
          id: adc_sample
          option: ADC_SAMPLE_15BIT
      - switch.turn_on:
          id: adc_en
      - number.set:
          id: vsysmin
          value: 5000

esp32:
  board: esp32dev
  framework:
    type: arduino

external_components:
  - source: github://misch2/BQ25798_ESPHome
    components: [bq25798]

logger:
  level: DEBUG

i2c:
  - id: bus_a
    sda: 20
    scl: 21
    scan: true

bq25798:
  id: bq25798_component_1
  i2c_id: bus_a

sensor:
  - platform: bq25798
    bq25798_id: bq25798_component_1
    name: "Sensors"
{% for def in settings %}
{%     if def._is_ha_sensor %}
    {{ def._snake_case_name }}:
      name: "{{ def.name }} ({{ def.description }})"
{%     endif %}
{% endfor %}
 
binary_sensor:
  - platform: bq25798
    bq25798_id: bq25798_component_1
    name: "Binary Sensors"
{% for def in settings %}
{%     if def._is_ha_binary_sensor %}
    {{ def._snake_case_name }}:
      name: "{{ def.name }} ({{ def.description }})"
{%     endif %}
{% endfor %}

text_sensor:
  - platform: bq25798
    bq25798_id: bq25798_component_1
    name: "Text Sensors"
{% for def in settings %}
{%     if def._is_ha_text_sensor %}
    {{ def._snake_case_name }}:
      name: "{{ def.name }} ({{ def.description }})"
{%     endif %}
{% endfor %}

switch:
  - platform: bq25798
    bq25798_id: bq25798_component_1
    name: "Switches"
{% for def in settings %}
{%     if def._is_ha_switch %}
    {{ def._snake_case_name }}:
      name: "{{ def.name }} ({{ def.description }})"
      id: {{ def._snake_case_name }}
{%     endif %}
{% endfor %}

number:
  - platform: bq25798
    bq25798_id: bq25798_component_1
    name: "Numbers"
{% for def in settings %}
{%     if def._is_ha_number %}
    {{ def._snake_case_name }}:
      name: "{{ def.name }} ({{ def.description }})"
      id: {{ def._snake_case_name }}
{%     endif %}
{% endfor %}

select:
  - platform: bq25798
    bq25798_id: bq25798_component_1
    name: "Selects"
{% for def in settings %}
{%     if def._is_ha_select %}
    {{ def._snake_case_name }}:
      name: "{{ def.name }} ({{ def.description }})"
      id: {{ def._snake_case_name }}
{%     endif %}
{% endfor %}

button:
  - platform: bq25798
    bq25798_id: bq25798_component_1
    name: "Buttons"
    clear_flags:
      name: "Clear Flags"

