#include "clear_flags_button.h"

#include "esphome/core/log.h"

namespace esphome {
namespace bq25798 {

static const char* const TAG = "bq25798.button";

// Clears the internal (cached) flags.
// This is a workaround for the fact that the BQ25798 clears the flag registers on read so we can't just read them keep them raised
void BQ25798ClearFlagsButton::press_action() {
    ESP_LOGI(TAG, "ClearFlagsButton pressed. Executing action...");

{%- for def in settings %}
{%     if def.is_flag %}
    this->parent_->clear_flag_{{ def.name | lower }}();
{%     endif %}
{% endfor %}
}

}  // namespace bq25798
}  // namespace esphome