{% include "/globals.j2" -%}

#include "bq25798_switch.h"

#include "esphome/core/log.h"

namespace esphome {
namespace bq25798 {

static const char* const TAG = "bq25798.switch";

{% for def in settings %}
{%     if def._is_ha_switch %}
{% set formatted_name = def.name
    | replace('_', ' ')
    | title
    | replace(' ', '') %}
{% set className = 'BQ25798' ~ def._CamelCaseName ~ 'Switch' %}

// {{ def.name }} - {{ def.description }}
float {{ className }}::get_setup_priority() const { return setup_priority::DATA; }

void {{ className }}::dump_config() {
  ESP_LOGCONFIG(TAG, "Dumping {{ className }} configuration...");
  if (this->parent_->is_failed()) {
    return;
  }

  LOG_SWITCH("  ", "{{ def.name }}", this);
  LOG_UPDATE_INTERVAL(this);
}

void {{ className }}::update() {
  if (this->parent_->is_failed()) {
    this->publish_state(false);
    return;
  }

  this->publish_state(this->parent_->get_{{ def._snake_case_name }}_bool());
}

void {{ className }}::write_state(bool state) {
  if (this->parent_->is_failed()) {
    return;
  }

  this->parent_->set_{{ def._snake_case_name }}_bool(state);
  this->publish_state(state);
}



{%     endif %}
{% endfor %}

}  // namespace bq25798
}  // namespace esphome