{% include "/globals.j2" -%}

#pragma once

#include "esphome/components/switch/switch.h"
#include "esphome/core/component.h"
#include "esphome/core/helpers.h"

#include "../bq25798_component.h"

namespace esphome {
namespace bq25798 {

{% for def in settings %}
{%     if def._is_ha_switch %}
{% set formatted_name = def.name
    | replace('_', ' ')
    | title
    | replace(' ', '') %}
{% set className = 'BQ25798' ~ def._CamelCaseName ~ 'Switch' %}

// {{ def.name }} - {{ def.description }}
class {{ className }} : public switch_::Switch,
                            public PollingComponent,
                            public Parented<BQ25798Component> {
 public:
  {{ className }}() = default;
  void update() override;
  void dump_config() override;
  float get_setup_priority() const override;

 protected:
  void write_state(bool state) override;
};

{%     endif %}
{% endfor %}

}  // namespace bq25798
}  // namespace esphome