{% include "/globals.j2" -%}

#pragma once

#include "esphome/components/text_sensor/text_sensor.h"
#include "esphome/core/component.h"
#include "esphome/core/helpers.h"

#include "../bq25798_component.h"

namespace esphome {
namespace bq25798 {

class BQ25798TextSensor : public sensor::Sensor,
                            public PollingComponent,
                            public Parented<BQ25798Component> {
 public:
  void update() override;
  void dump_config() override;
  float get_setup_priority() const override;

{% for def in settings %}
{%     if def._is_ha_text_sensor %}
  void assign_text_sensor_{{ def._snake_case_name }}(text_sensor::TextSensor *sensor);
{%     endif %}
{% endfor %}
  void assign_text_sensor_all_flags(text_sensor::TextSensor *sensor);

 protected:
  std::string get_all_flags_string();
{% for def in settings %}
{%     if def._is_ha_text_sensor %}
  text_sensor::TextSensor *text_sensor_{{ def._snake_case_name }}_ {nullptr};
{%     endif %}
{% endfor %}
  text_sensor::TextSensor *text_sensor_all_flags_ {nullptr};
};

}  // namespace bq25798
}  // namespace esphome