{% include "/globals.j2" -%}

#include "bq25798_text_sensor.h"

#include "esphome/core/log.h"

namespace esphome {
namespace bq25798 {

static const char* const TAG = "bq25798.text_sensor";

float BQ25798TextSensor::get_setup_priority() const { return setup_priority::DATA; }

void BQ25798TextSensor::dump_config() {
  ESP_LOGCONFIG(TAG, "Dumping BQ25798TextSensor configuration...");
  if (this->parent_->is_failed()) {
    return;
  }

{% for def in settings %}
{%     if def._is_enum %}
  if (this->text_sensor_{{ def._snake_case_name }}_ != nullptr) {
    LOG_TEXT_SENSOR("  ", "{{ def.name }}", this->text_sensor_{{ def._snake_case_name }}_);
  }
{%     endif %}
{% endfor %}

  LOG_UPDATE_INTERVAL(this);
}

void BQ25798TextSensor::update() {
  if (this->parent_->is_failed()) {
    return;
  }

{% for def in settings %}
  // {{ def.name }} - {{ def.description }}
{%     if def._is_enum %}   
  if (this->text_sensor_{{ def._snake_case_name }}_ != nullptr) {   
    this->text_sensor_{{ def._snake_case_name }}_->publish_state(this->parent_->get_{{ def._snake_case_name }}_enum_string(true));   
  }   
{%     endif %}   
{% endfor %}
}


{% for def in settings %}
{%     if def._is_enum %}
void BQ25798TextSensor::assign_text_sensor_{{ def._snake_case_name }}(text_sensor::TextSensor *sensor) {
  this->text_sensor_{{ def._snake_case_name }}_ = sensor;
}
{%     endif %}
{% endfor %}

}  // namespace bq25798
}  // namespace esphome