{% include "/globals.j2" %}

import esphome.codegen as cg
import esphome.config_validation as cv
from esphome.components import select
from esphome.const import (
    CONF_ID,
    ENTITY_CATEGORY_CONFIG,
)

from .. import (
    CONF_BQ25798_ID,
    bq25798_ns,
    BQ25798Component
)

DEPENDENCIES = ["bq25798"]


# Enum settings
{% for def in settings %}
{%     if def._is_enum and def._is_rw %}
{%         set className = 'BQ25798' ~ def._CamelCaseName ~ 'Select' %}

{{ className }} = bq25798_ns.class_("{{ className }}", select.Select, cg.PollingComponent)
CONF_BQ25798_{{ def._UPPERCASE_NAME }} = "{{ def._snake_case_name }}"
{%     endif %}
{% endfor %}

CONFIG_SCHEMA = (
    select.select_schema(BQ25798Component)
    .extend({
            cv.GenerateID(CONF_BQ25798_ID): cv.use_id(BQ25798Component),

{% for def in settings %}
{%     if def._is_enum and def._is_rw %}
{% set formatted_name = def.name
    | replace('_', ' ')
    | title
    | replace(' ', '') %}
{% set className = 'BQ25798' ~ def._CamelCaseName ~ 'Select' %}
            cv.Optional(CONF_BQ25798_{{ def._UPPERCASE_NAME }}): select.select_schema(
                {{ className }},
                entity_category=ENTITY_CATEGORY_CONFIG,
            ),
{%     endif %}
{% endfor %}
    })
    .extend(cv.polling_component_schema("5s"))
)

async def to_code(config):
    main_component = await cg.get_variable(config[CONF_BQ25798_ID]) # parent component

    # Selects
{% for def in settings %}
{%     if def._is_enum and def._is_rw %}
    if {{ def._snake_case_name }}_config := config.get(CONF_BQ25798_{{ def._UPPERCASE_NAME }}):
        sel = await select.new_select(
            {{ def._snake_case_name }}_config,
            options=[
{%         for enum in def.enum_constants %}
                "{{ enum }}",
{%         endfor %}
            ]
        )
        await cg.register_parented(sel, config[CONF_BQ25798_ID])
        await cg.register_component(sel, config)

{%     endif %}

{% endfor %}
