{% include "/globals.j2" -%}

#pragma once

#include "esphome/components/select/select.h"
#include "esphome/core/component.h"
#include "esphome/core/helpers.h"

#include "../bq25798_component.h"

namespace esphome {
namespace bq25798 {

{% for def in settings %}
{%     if def._is_enum and def._is_rw %}
{% set formatted_name = def.name
    | replace('_', ' ')
    | title
    | replace(' ', '') %}
{% set className = 'BQ25798' ~ def._CamelCaseName ~ 'Select' %}

// {{ def.name }} - {{ def.description }}
class {{ className }} : public select::Select,
                            public PollingComponent,
                            public Parented<BQ25798Component> {
 public:
  {{ className }}() = default;
  void update() override;
  void dump_config() override;
  float get_setup_priority() const override;

 protected:
  void control(const std::string &value) override;
};

{%     endif %}
{% endfor %}

}  // namespace bq25798
}  // namespace esphome