{% include "/globals.j2" -%}

#include "bq25798_number.h"

#include "esphome/core/log.h"

namespace esphome {
namespace bq25798 {

static const char* const TAG = "bq25798.number";

{% for def in settings %}
{%     if def._is_ha_number %}
{% set className = 'BQ25798' ~ def._CamelCaseName ~ 'Number' %}

// {{ def.name }} - {{ def.description }}
float {{ className }}::get_setup_priority() const { return setup_priority::DATA; }

void {{ className }}::dump_config() {
  ESP_LOGCONFIG(TAG, "Dumping {{ className }} configuration...");
  if (this->parent_->is_failed()) {
    return;
  }
  LOG_NUMBER("  ", "{{ def.name }}", this);
  LOG_UPDATE_INTERVAL(this);
}

void {{ className }}::update() {
  if (this->parent_->is_failed()) {
    this->publish_state(NAN);
    return;
  }

  //ESP_LOGD(TAG, "Updating {{ className }}...");
{% if def._is_int %}
  this->publish_state(this->parent_->get_{{ def._snake_case_name }}_int());
{% else %}
  this->publish_state(this->parent_->get_{{ def._snake_case_name }}_float());
{% endif %}
}

void {{ className }}::control(float new_value) {
  //ESP_LOGD(TAG, "Controlling {{ className }}...");
{% if def._is_int %}
  this->parent_->set_{{ def._snake_case_name }}_int(new_value);
{% else %}
  this->parent_->set_{{ def._snake_case_name }}_float(new_value);
{% endif %}
  this->publish_state(new_value);
}

{%     endif %}
{% endfor %}

}  // namespace bq25798
}  // namespace esphome