{% include "/globals.j2" %}

#pragma once

#include "esphome/components/number/number.h"
#include "esphome/core/component.h"
#include "esphome/core/helpers.h"

#include "../bq25798_component.h"

namespace esphome {
namespace bq25798 {

{% for def in settings %}
{%     if (def._is_int or def._is_float) and def._is_rw %}
{% set className = 'BQ25798' ~ def._CamelCaseName ~ 'Number' %}

// {{ def.name }} - {{ def.description }}
class {{ className }} : public number::Number,
                            public PollingComponent,
                            public Parented<BQ25798Component> {
 public:
  {{ className }}() = default;
  void update() override;
  void dump_config() override;
  float get_setup_priority() const override;

 protected:
  void control (float new_value) override;
};

{%     endif %}
{% endfor %}

}  // namespace bq25798
}  // namespace esphome