{% include "/globals.j2" %}

#include "bq25798_number.h"

#include "esphome/core/log.h"

namespace esphome {
namespace bq25798 {

static const char* const TAG = "bq25798.number";

{% for def in settings %}
{%     if (def.type == "int" or def.type == "float") and def.mode == "rw" %}
{% set formatted_name = def.name
    | replace('_', ' ')
    | title
    | replace(' ', '') %}
{% set className = 'BQ25798' ~ formatted_name ~ 'Number' %}

// {{ def.name }} - {{ def.description }}
float {{ className }}::get_setup_priority() const { return setup_priority::DATA; }

void {{ className }}::dump_config() {
  ESP_LOGCONFIG(TAG, "Dumping {{ className }} configuration...");
  if (this->parent_->is_failed()) {
    return;
  }

  LOG_NUMBER("  ", "{{ def.name }}", this);
  LOG_UPDATE_INTERVAL(this);
}

void {{ className }}::update() {
  if (this->parent_->is_failed()) {
    return;
  }

  //ESP_LOGD(TAG, "Updating {{ className }}...");
  this->publish_state(this->parent_->get_{{ def.name_snakecase }}(true));
}

void {{ className }}::control(float new_value) {
  //ESP_LOGD(TAG, "Controlling {{ className }}...");
  this->parent_->set_{{ def.name_snakecase }}(new_value, true);
  this->publish_state(new_value);
}



{%     endif %}
{% endfor %}

}  // namespace bq25798
}  // namespace esphome